<header class='header'>
  <%= link_to "IWU", prototypes_path %>
  <!-- <a href="#" class='header_link'>IWU</a> -->
  <div class='header_block'>
    <!-- <a href="#" class='header_link'>❤</a>
    <a href="#" class='header_link'>🇬🇧 En</a> -->
    <a href="#" class='header_link'>Манифест</a>
    <a href="#" class='header_link'>Автор</a>
  </div>
</header>
