<div class="wrapper-container">
  <h1>ай виш ю</h1>

  <div class="wrapper-container_cards">
      <% @prototypes.each do |prototype| %>
          <div class="wrapper-container_cards_inner">
            <%= link_to '  ', prototype, :class =>"wrapper-container_cards_item" %>
            <div class="wrapper-container_cards_text">
            <%= prototype.description%>
            </div>
          </div>
      <% end %>
  </div>
</div>

<div class="footer">
  <div class="footer_text">
    © 2022, Ай виш ю — диджитал открытки
  </div>
  <div class="footer_text">
  Проект, созданный немного уставшим дизайнеро-прогером, который уже смеется со всего,желает вам позитива в жизни, иначе ну чот совсем тяжко. Счастья, любви, благополучия
  💍 🕊
  </div>
  <div class="footer_text">
    @shevoles
  </div>
</div>
