<div class="wrapper-container">
  <h1>ай виш ю</h1>

  <div class="wrapper-container_cards">
      <% @prototypes.each do |prototype| %>
          <div class="wrapper-container_cards_inner">
            <%= link_to '  ', prototype, :class =>"wrapper-container_cards_item" %>
            <div class="wrapper-container_cards_text">
            <%#= prototype.description%>
            </div>
          </div>
      <% end %>
  </div>

</div>

  <%= link_to 'New Prototype', new_prototype_path %>
